{% extends 'base.html' %}
{% block content %}


<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">PO DETAILS</h1>
            </div>
        </div>
    </div>
</section>


<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'po' %}">PO SEARCH</a>
                </li>
                <li class="breadcrumb-item active">PO DETAILS</li>
            </ol>
        </nav>
    </div>
</section>

<!-- Listing -->
<section id="listing" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row mb-5 fields">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">

                            <style>

                        table
                        { empty-cells: show;
                        border-spacing: 0.5rem;
                        white-space: pre-wrap;
                        table-layout: auto;}

                            </style>


                            {% for list in lists %}

                            {% for post in posts%}
                            {% if list.po_no == post.po_head.po_no %}


                            <li class="list-group-item text-secondary">
                                PO NO:
                                <span class="float-right">{{list.po_no}}
                            </span>
                            </li>
                            <li class="list-group-item text-secondary">
                                PO date:
                                <span class="float-right">{{list.po_date|date:" d-m-Y "}}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                Approved date:
                                <span class="float-right">{{list.approved_date|date:" d-m-Y "}}</span>
                            </li>

                            <table style="width:100%" class="table table-bordered">
                                <thread>
                                    <tr>
                                        <th class="text-secondary" style="text-align:center;">Supplier Code</th>
                                        <th class="text-secondary" style="text-align:center;">Item Code</th>
                                        <th class="text-secondary" style="text-align:center;">Item Description</th>
                                        <th class="text-secondary" style="text-align:center;">Tax</th>
                                        <th class="text-secondary" style="text-align:center;">Amount</th>
                                        <th class="text-secondary" style="text-align:center;">Quantity</th>
                                    </tr>
                                </thread>
                                <tbody>
                                <tr>
                                    <td class=" text-secondary" style="text-align:center;">{{post.supplier.supplier_code}}</td>
                                    <td class=" text-secondary" style="text-align:center;">{{post.item.item_code}}</td>
                                    <td class=" text-secondary" style="text-align:center;">{{post.item.item_description}}</td>
                                    <td class=" text-secondary" style="text-align:center;">{{post.tax}}</td>
                                    <td class=" text-secondary" style="text-align:center;">{{post.amount}}</td>
                                    <td class=" text-secondary" style="text-align:center;">{{post.quantity}}</td>
                                </tr>
                                </tbody>
                            </table>

                            <hr>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
                <a href="{% url 'po' %}" class="btn btn-light mb-4">Back</a>

    </div>


</section>
{% endblock %}
